:root {
  --main-bg: #02020A;
  --sidebar-bg: #0b0b1e;
  --text-color: #E1E2EF;
  --link-color: #D09494;
  --sidebar-link-color: #B497D6;
  --sidebar-link-color-active: rgb(101, 69, 190);
  --modal-bg: var(--sidebar-bg);
  --modal-border-color: var(--main-bg);
}
