{% assign gallery_set = site.data.gallery[include.gallery] %}
<p class="gallery_instructions">Select a thumnnail for a full-size version.</p>
<div class="gallery row" data-bs-toggle="modal" data-bs-target="#galleryModal">
{% for entry in gallery_set %}
    <div class="gallery_entry">
        <img class="w-100" src="{{entry[1].thumb}}" data-bs-target="#carouselGallery" data-bs-slide-to="{{forloop.index0}}">
    </div>
{% endfor %}
</div>

<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselGallery" class="carousel slide">
                    <div class="carousel-inner">
                        {% assign active_class = " active" %}
                        {% for entry in gallery_set %}
                            <div class="carousel-item {{active_class}}">
                                <img class="d-block w-100" src="{{entry[1].max}}">
                            </div>
                            {% assign active_class = "" %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGallery" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselGallery" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
