<script>
    function toggleSidebar(params) {
        const sidebar = document.querySelector('.page-sidebar');
        sidebar.classList.toggle('active');        
    }
</script>

{% comment %} {% assign my_category = site.data.category[page.category] %} {% endcomment %}
<aside class="page-sidebar">
    <button class="sidebar-toggler" onclick="toggleSidebar()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <nav class="sidebar-content">
        <ul>
            <li>
                <a href="{{ "/" | relative_url }}">Home Page</a>
            </li>
            {% comment %} {% if my_category %}
                <li>
                    <a href="{{my_category.directory_path | relative_url}}">{{my_category.directory_name}}</a>
                </li>
            {% endif %} {% endcomment %}
        </ul>
        <hr/>
        {{ content | toc_only }}
        <hr/>

        <ul>
            <li>
                <a href="{{ "/commissions.html" }}">Art Commissions</a>
            </li>
            <li>
                <a href="{{site.repository}}">Git Repository</a>
            </li>
            <li>
                <a href="/contact.html">Contact Form</a>
            </li>
        </ul>
    </nav>
</aside>
