@use "sass:map";
@use "variables" as vars;

.gallery {
  @include vars.flex_container_size;
}

.gallery_entry {
  @include vars.flex_child_size;

  cursor: pointer;

  img {
    width: 100%;
  }
  figcaption {
    text-align: center;
    padding: 0.25rem;
  }
}

.gallery_instructions {
  text-align: center;
  font-style: italic;
  opacity: 0.5;
}

/** 
 * Gallery
 */
@media (max-width: map.get(vars.$breakpoints, "sm")) {
  .gallery {
    --entries-per-row: 2;
  }
}
@media (min-width: map.get(vars.$breakpoints, "sm")) and 
      (max-width: map.get(vars.$breakpoints, "md")) {
  .gallery {
    --entries-per-row: 3;
  }
}
@media (min-width: map.get(vars.$breakpoints, "md")) {
  .gallery {
    --entries-per-row: 4;
  }
}
